:root {
    --accent-color: #2196F3;
    --dark-gray-color: #212121;
    --gray-color: #757575;
    --black-color: #000000;
    --white-color: #ffffff;
    --bgcolor-dark: #2F303A;
    --white-opc-color: rgba(255, 255, 255, 0.6);
}

body {
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/* global style */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.active-accent:hover,
.active-accent:focus {
    color: var(--accent-color);
}

/* header */
.site-header {
    display: flex;
    align-items: center;
}


/* logo */
.logo {
    display: block;
    width: 145px;
    height: 31px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo>span {
    color: var(--accent-color);
}

.logo.white {
    color: var(--white-color);
}

.logo.black {
    color: var(--black-color);
}

/* nav-bar */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item+.item {
    margin-left: 50px;
}

.site-nav-link,
.header-contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav-link {
    color: var(--dark-gray-color);
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact .item+.item {
    margin-left: 30px;

}

.header-contact-link {
    color: var(--gray-color);
}

.site-nav-link.current {
    color: var(--accent-color);
}

/* section hero */
.hero {
    background-color: var(--bgcolor-dark);
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

}

/* button */
.button {
    display: inline-block;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--white-color);

}

/* Sections */

.section {
    padding: 94px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--dark-gray-color);
    margin-top: 0;
    margin-bottom: 50px;
}

/* section specifics */
.specifics-container {
    display: flex;
}

.specifics-card {
    width: 270px;
}

.specifics-container .item+.item {
    margin-left: 30px;
}

.specifics-caption {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}

.specifics-content {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
}

/* section works */
.section-works {
    text-align: center;
}

.works-container {
    display: flex;
}

.works-container .item+.item {
    margin-left: 30px;
}

.works-card {
    width: 370px;
}

.works-card img {
    display: block;
}

/* section team */
.section-team {
    text-align: center;
}

.team-container {
    display: flex;
}

.team-container .item+.item {
    margin-left: 30px;
}

.team-card {
    width: 270px;
}

.team-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-gray-color);
}

.team-position {
    font-size: 16px;
    margin: 0;
}

/* footer */

.site-footer {
    background-color: var(--bgcolor-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}

.site-footer .logo {
    margin-bottom: 20px;
}

.site-footer .container {
    display: flex;
}

.address {
    font-style: normal;
}

.address-list .item+.item {
    margin-top: 9px;
}

.address-map,
.address-contact-link {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address-map {
    color: var(--white-color);
}

.address-contact-link {
    color: var(--white-opc-color);
}