:root {
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --dark-gray-color: #212121;
  --gray-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --bgcolor-dark: #2f303a;
  --white-opc-color: rgba(255, 255, 255, 0.6);
  --bg-color: #f5f4fa;
  --line-color: #ececec;
  --bgcolor-hero: #c4c4c4;
  --icon-color: #afb1b8;
}

/* global style */

html,
body {
  width: 100vw;
  height: 100%;
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.active-accent:hover,
.active-accent:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* button */
.button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--accent-color-hover);
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* header */
.header-section {
  border-bottom: 1px solid var(--line-color);
}

.site-header {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  display: block;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo .white {
  color: var(--white-color);
}

.logo .black {
  color: var(--black-color);
}

/* nav-bar */
.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav-link,
.header-contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-link {
  color: var(--dark-gray-color);
}

.site-nav-link.current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.header-contact {
  display: flex;
  margin-left: auto;
  gap: 30px;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--gray-color);
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--gray-color);
}
.header-contact-link {
  color: var(--gray-color);
}

/* section hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgcolor-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.nopadding {
  padding-top: 0px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-gray-color);
}

/* section specifics */
.specifics-container {
  display: flex;
}

.specifics-card {
  width: calc((100%-90px) / 4);
}

/* .specifics-container .item + .item {
  margin-left: 30px;
} */
.specifics-container :not(:last-child) {
  margin-right: 30px;
}
.specifics-img-container {
  width: 100%;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--bg-color);
  border-radius: 4px;
}
.specifics-img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.specifics-caption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-gray-color);
}

.specifics-content {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

/* section works */
.works-container {
  display: flex;
}

.works-container :not(:last-child) {
  margin-right: 30px;
}

.works-card {
  width: calc((100%-60px) / 3);
}

.works-card > img {
  width: 100%;
}

/* section team */
.section.team {
  background-color: var(--bg-color);
}

.team-container {
  display: flex;
  gap: 30px;
}

/* .team-card:not(:last-child) {
  margin-right: 30px;
} */

.team-card {
  width: calc((100%-90px) / 4);

  background-color: var(--white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-photo {
  width: 100%;
  margin-bottom: 30px;
}

.team-description {
  margin-bottom: 16px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-gray-color);
}

.team-position {
  font-size: 16px;
  margin: 0;
}
.social-links {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}

/* footer */

.site-footer {
  background-color: var(--bgcolor-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-footer .logo {
  margin-bottom: 20px;
}

.site-footer .container {
  display: flex;
}

.address {
  font-style: normal;
}

.address-list {
  margin-bottom: 9px;
}

.address-map,
.address-contact-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address-map {
  color: var(--white-color);
}

.address-contact-link {
  color: var(--white-opc-color);
}
