.DS_Store
icons/antenna.svg
icons/astronaut.svg
icons/clock.svg
icons/close-black-18dp.svg
icons/diagram.svg
icons/email-black-18dp1.svg
icons/envelope.svg
icons/facebook.svg
icons/icon send.svg
icons/instagram.svg
icons/linkedin.svg
icons/Logo-1.svg
icons/Logo-2.svg
icons/Logo-3.svg
icons/Logo-4.svg
icons/Logo-5.svg
icons/Logo.svg
icons/menu_40px.svg
icons/person-black-18dp.svg
icons/phone-black-18dp.svg
icons/smartphone.svg
icons/twitter.svg
